@model UserRegisterDTO

@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Register</h2>

        <form asp-action="Register" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="StreetAddress" class="form-control" />
                    <span asp-validation-for="StreetAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PostalCode" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group my-4">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
