<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - ECommerceApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Navbar.css" />    
    <link rel="stylesheet" href="~/css/review.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.6.0-web/css/all.min.css" />
    <link rel="icon" type="image/jpg" href="~/images/favicon.jpg" />
</head>
<body>
    <header>
        <partial name="_Navbar" />
    </header>
    <div class="container my-5">
        @RenderBody()
    </div>
    <footer></footer>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
